apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: argo-hack
    app.kubernetes.io/instance: argo-hack-docker
  name: argo-hack
spec:
  type: NodePort
  ports:
  - port: 443
    protocol: TCP
    targetPort: 80
    nodePort: 30025
  selector:
    app: argo-hack
status:
  loadBalancer: {}