apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: argo-hack
    app.kubernetes.io/instance: argo-hack-docker
  name: argo-hack
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: argo-hack
status:
  loadBalancer: {}